###############################################################################
#
# Bergen Platform
#
# Open WebUI LDAP environment
#
# Managed by Ansible.
#
###############################################################################

ENABLE_LDAP={{ ldap_enabled | bool | ternary('true', 'false') }}

LDAP_SERVER_LABEL={{ ldap_server_label }}
LDAP_SERVER_HOST={{ ldap_host }}
LDAP_SERVER_PORT={{ ldap_port | int }}

LDAP_USE_TLS={{ ldap_use_tls | bool | ternary('true', 'false') }}
LDAP_VALIDATE_CERT={{ ldap_validate_cert | bool | ternary('true', 'false') }}

LDAP_SEARCH_BASE={{ ldap_search_base }}
LDAP_ATTRIBUTE_FOR_USERNAME={{ ldap_username_attribute }}
LDAP_ATTRIBUTE_FOR_MAIL={{ ldap_mail_attribute }}
{% if ldap_search_filter | string | trim | length > 0 %}
LDAP_SEARCH_FILTER={{ ldap_search_filter }}
{% endif %}

LDAP_APP_DN={{ ldap_bind_dn }}
LDAP_APP_PASSWORD={{ ldap_bind_password }}
