<?xml version="1.0" encoding="UTF-8"?>
<!-- Evaluation only. Productive licensing/security must be clarified with IBM. -->
<server>
    <featureManager>
        <feature>appSecurity-2.0</feature>
        <feature>basicAuthenticationMQ-1.0</feature>
    </featureManager>
    <basicRegistry id="bergenLab" realm="defaultRealm">
        <user name="admin" password="${env.MQ_ADMIN_PASSWORD_SECURE}"/>
        <group name="BergenLabWebAdmin">
            <member name="admin"/>
        </group>
    </basicRegistry>
    <enterpriseApplication id="com.ibm.mq.rest">
        <application-bnd>
            <security-role name="MQWebAdmin">
                <group name="BergenLabWebAdmin" realm="defaultRealm"/>
            </security-role>
        </application-bnd>
    </enterpriseApplication>
    <enterpriseApplication id="com.ibm.mq.console">
        <application-bnd>
            <security-role name="MQWebAdmin">
                <group name="BergenLabWebAdmin" realm="defaultRealm"/>
            </security-role>
        </application-bnd>
    </enterpriseApplication>
</server>
